header {
    background-color: beige;
    text-align: center;
    padding: 10px;
    border: 1px black solid;
    height: 100px;
}
nav ul {
    float: left;
    width: 15%;
    background-color: aquamarine;
    border: 1px black solid;
    text-align: left;
    padding: 5%;
    height: 120vh;
}
li {
    padding: 20px;
}
article {
    float: right;
    background-color:azure;
    text-align: center;
    border: 2px black solid;
    padding: 2%;
    width: 70%;
    height: 130vh;
}
p {
    border: dotted;
    padding: 10px;
}
footer {
    clear: both;
    background-color: beige;
    text-align: center;
    border: 1px black solid;
    padding: 10px;
    width: 100%;
    height: 40px;
}
h6 {
    text-align: center;
}
#p1 {
    float: left;
    background-color: pink;
    padding: 3%;
}
#p2 {
    background-color: rgb(227, 103, 144);
    padding: 5%;
}